<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>875927145211-lmjj1aupn3o6fb6thlml0pmq7qvvmd4e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.875927145211-lmjj1aupn3o6fb6thlml0pmq7qvvmd4e</string>
	<key>API_KEY</key>
	<string>AIzaSyCrseT5d9GHBGiv0kVi0Si7i0z80w6Cv3A</string>
	<key>GCM_SENDER_ID</key>
	<string>875927145211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jafar.Fit</string>
	<key>PROJECT_ID</key>
	<string>fit-life-3fe61</string>
	<key>STORAGE_BUCKET</key>
	<string>fit-life-3fe61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875927145211:ios:239f0b3d4ca7a37350be5e</string>
</dict>
</plist>